<link rel="stylesheet" href="../css/components/footer.css">

<footer class="container">
    <div class="col-12 d-flex flex-column-reverse flex-md-row justify-content-between">
        <div class="col-12 col-md-6 mt-3">
            <i class="fa-brands fa-square-facebook fa-3x"></i>
            <i class="fa-brands fa-square-instagram fa-3x"></i>
            <i class="fa-brands fa-square-twitter fa-3x"></i>
        </div>
        <div class="div__buttons align-self-end col-12 col-md-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link active" href="">1</a></li>
                    <li class="page-item"><a class="page-link" href="">2</a></li>
                    <li class="page-item"><a class="page-link" href="">3</a></li>
                    <li class="page-item"><a class="page-link" href="">4</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>