.div__buttons {
    height: auto;
    max-width: 400px;
    align-self: center;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #2c2c2c;
    font-size: 1em;
    text-decoration: none;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 5px;
    width: 50px;
    height: 40px;
    color: #6c757d;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #BAB8B8;
}

.pagination .page-item:first-child .page-link:hover,
.pagination .page-item:last-child .page-link:hover {
    background-color: #262626;
    color: #ffffff;
    border-color: #262626;
}

.pagination .page-item .page-link.active {
    background-color: #262626;
    color: #ffffff;
    border-color: #262626;
    font-weight: bold;
}